<!-- views/beforemain.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>TIMI</title>
    <meta descr="Testez votre capacité à reconnaître main droite et gauche">
    <link rel="stylesheet" href="/CSS/main.css">
   
</head>
<body>

    <div class=wait id=waitcontent>
        <p>Patientez 2 secondes ...</p>
    </div>

    <div class=container id=maincontent>
        <img id=leftbtn class=left-arrow src="/img/fleche gauche test.png">
        <img class=hand src="/img/mains/Diapositive<%= id %>.JPG">
        <img id=rightbtn class=right-arrow src="/img/fleche droite test.png">
    </div>

    <script src="/JS/waittwosec.js"></script>
    
</body>

</html>

<script>
    function next() {
        location.href = "/beforemain2"
    } 
    document.getElementById("leftbtn").onclick = next
    document.getElementById("rightbtn").onclick = next
</script>