<!-- views/beforemain.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>TIMI</title>
    <meta descr="Testez votre capacité à reconnaître main droite et gauche">
    <link rel="stylesheet" href="/CSS/main.css">
   
</head>
<body>

    <div class=wait id=waitcontent>
        <p>Patientez 2 secondes ...</p>
    </div>

    <div class=container id=maincontent>
        <button id=leftbtn class=left-arrow><img src="/img/fleche gauche.png"></button>
        <img class=hand src="/img/mains/Diapositive<%= id %>.JPG">
        <button id=rightbtn class=right-arrow><img src="/img/fleche droite.png"></button>
    </div>

    <script src="/JS/waittwosec.js"></script>
    
</body>

</html>