<!-- views/consignes.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>TIMI</title>
    <meta descr="Testez votre capacité à reconnaître main droite et gauche">
    <link rel="stylesheet" href="/CSS/consignes.css">
   
</head>
<body>
    
    <main>
        
        <div class=main-content>
            <h1>Consignes :</h1>
            <span>Tu vas voir apparaître à l’écran une main</span>
            <span>Tu vas devoir indiquer si, pour toi, il s’agit de la main gauche ou de la main droite</span>
            <span>Pour répondre, tu devras appuyer sur la flèche à l’écran qui correspond à ton choix : « Main gauche », ou « Main droite »</span>
        
            <h2>ATTENTION !</h2>
        
            <span>Tu dois simplement répondre avec ton index, sans regarder tes mains</span>
            <span>Tes yeux ne doivent regarder que l’écran</span>
            <span>Tu ne dois pas faire autre chose que toucher l’écran avec ton doigt pour répondre (ne pas lever les main, les avant-bras, etc.)</span>
            <span>L’index de la main droite doit être placé au-dessus de la flèche droite tout au long du test,</span> 
            <span>et l’index de la main gauche doit être placé au-dessus de la flèche gauche tout au long du test.</span>
            <span>Essaie d’aller le plus vite possible, tout en essayant de ne pas te tromper !</span>

            <span>On va s'entraîner un peu avant de commencer</span>
            <button id="consignesred" type="button">Passer à l'entraînement !</button>
        </div>
        
    </main>
</body>
</html>

<script>
    document.getElementById("consignesred").onclick = function () {
        location.href = "/beforemain"
    }
</script>