<!-- views/index.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>TIMI</title>
    <meta descr="Testez votre capacité à reconnaître main droite et gauche">
   
</head>
<body>
    Bienvenue sur notre application TIMI !

    <button name="button-launch" onclick="location.href = '/main/1';">Lancer un test TIMI</button>
</body>

</html>