<!-- views/index.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>TIMI</title>
    <meta descr="Testez votre capacité à reconnaître main droite et gauche">
    <link rel="stylesheet" href="/CSS/index.css">
   
</head>
<body>
    
    <main>
    
        <h1>Bienvenue sur l'application TIMI !</h1>

    <form class="form-timi">
        <div class="form">
          <label for="codepatient">Saisir le code patient : </label>
          <input type="text" name="codepatient" id="codepatient">
        </div>
        <div class="form">
            <label for="age">Saisir l'âge du patient en années : </label>
            <input type="text" name="age" id="age">
        </div>
        <div class="form">
            <label for="sex">Saisir le sexe du patient : </label>
            <input list="sexchoice" id="sex" name="sex" />

            <datalist id="sexchoice">
                <option value="1. Garçon"></option>
                <option value="2. Fille"></option>
            </datalist>
        </div>
        <div class="form">
            <label for="lat">Saisir la latéralité du patient : </label>
            <input list="latchoice" id="lat" name="lat" />

            <datalist id="latchoice">
                <option value="1. Droitier"></option>
                <option value="2. Gaucher"></option>
                <option value="3. Non latéralisé"></option>
            </datalist>
        </div>
        <div class="form">
            <label for="csp1">Catégorie Socio-Professionnelle Parent 1 :</label>
            <input list="csp" id="csp1" name="csp1" />
        </div>
        <div class="form">
            <label for="csp2">Catégorie Socio-Professionnelle Parent 2 :</label>
            <input list="csp" id="csp2" name="csp2" />
            <datalist id="csp">

                <option value="1. Agriculteurs exploitants"></option>
                <option value="2. Artisans, commerçants et chefs d'entreprise"></option>
                <option value="3. Cadres et professions intellectuelles supérieures"></option>
                <option value="4. Professions intermédiaires"></option>
                <option value="5. Employés"></option>
                <option value="6. Ouvriers"></option>
                <option value="7. Retraités"></option>
                <option value="8. Autres personnes sans activité professionnelle"></option>

            </datalist>
        </div>
        <div class="form">
          <button type="button" id="submitbutton">Lancer le test !</button>
        </div>
      </form>

    </main>

<script src="/JS/postformindex.js">
</script>

</body>

</html>