<!-- views/main.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>TIMI</title>
    <meta descr="Testez votre capacité à reconnaître main droite et gauche">
    <link rel="stylesheet" href="/CSS/main.css">
   
</head>
<body>
    <div class=container>
        <button id=leftbttn class=left-arrow><img src="/img/fleche gauche.png" title="main gauche"></button>
        <img class=hand src="/img/mains/Diapositive<%= id %>.JPG" title="quelle main est-ce?">
        <button id=rightbttn class=right-arrow><img src="/img/fleche droite.png" title="main droite"></button>
    </div>
</body>

</html>