<!-- views/main.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>TIMI</title>
    <meta descr="Testez votre capacité à reconnaître main droite et gauche">
   
</head>
<body>
    Cette fois c'est la main page

</body>

</html>