<!-- views/main.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>TIMI</title>
    <meta descr="Testez votre capacité à reconnaître main droite et gauche">
   
</head>
<body>
    <div class=main-content>
        <img class=left-arrow src="fleche gauche.png" alt="main gauche">
        <img class=hand src="main droite paume.png" alt="quelle main est-ce?">
        <img class=right-arrow src="fleche droite.png" alt="main droite">
    </div>
</body>

</html>