<!-- views/ready.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>TIMI</title>
    <meta descr="Testez votre capacité à reconnaître main droite et gauche">
    <link rel="stylesheet" href="/CSS/ready.css">
   
</head>
<body>
    <main>

        <div class=main-content>
            <h1>Prêt à lancer le test ?</h1>
            <button id="rdybtn" type="button">Lancer le test !</button>

            <h1>Besoin de refaire l'entraînement ?</h1>
            <button id="notrdybtn" type="button">Refaire l'entraînement !</button>
        </div>

    </main>
    
</body>

</html>

<script>
    document.getElementById("rdybtn").onclick = function() {
        location.href = "/main/1"
    }

    document.getElementById("notrdybtn").onclick = function() {
        location.href = "/consignes"
    }
</script>