button {
  font-family:arial, sans-serif;
  font-size: 24px;
}

html, body {
    height: 80vh;
    background-color: white;
    font-family:arial, sans-serif;
    font-size: 16px;
  }

.container {
    height: 100%;
    display: grid ;
    grid-template-columns: [col1] 20%  [col2] auto [col3] 20% ;
    grid-template-rows: [row1] 60% [row2] 40% ;
    grid-template-areas: 
    ". hand ."
    "left hand right";
    justify-items: center;
    visibility: hidden;
  }

  .left-arrow {
    grid-area: left ;
    width: 100%;
    height: auto;
  }

  .hand {
    grid-area: hand ;
    display: block;
    width: 70%;
    height: auto;
  }

  .right-arrow {
    grid-area: right ;
    width: 100%;
    height: auto;
  }

  .wait{
    display: grid ;
    justify-items: center;
    font-size: 32px;
  }