html, body {
    height: 100%;
  }

.container {
    height: 100%;
    display: grid ;
    grid-template-columns: [col1] 20%  [col2] auto [col3] 20% ;
    grid-template-rows: [row1] 50% [row2] 40% ;
    grid-template-areas: 
    ". hand ."
    "left hand right";
    justify-items: center;
    visibility: hidden;
  }

  .left-arrow {
    grid-area: left ;
  }

  .hand {
    grid-area: hand ;
    display: block;
    width: 100%;
    height: auto;
  }

  .right-arrow {
    grid-area: right ;
  }
